root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false
max_line_length = off
ij_visual_guides = none

[*.java]
insert_final_newline = true
max_line_length = 120
ij_visual_guides = 100, 120

[*.kts]
insert_final_newline = true

[*.properties]
insert_final_newline = true
ij_properties_keep_blank_lines = true
ij_properties_key_value_delimiter = equals
ij_properties_spaces_around_key_value_delimiter = true

[*.md]
indent_size = 2
trim_trailing_whitespace = false
insert_final_newline = true

[{*.fsh,*.vsh}]
insert_final_newline = true

[{*.yml,*.yaml}]
insert_final_newline = true
indent_size = 2
